<div class="tree-select" ng-click="open = !open">
	<script type="text/ng-template" id="tree-select-node.html">
		<div ng-click="select(data, $event);">{{ data.name }}</div>
		<ul>
			<li ng-repeat="data in data.children" ng-include="'tree-select-node.html'"></li>
		</ul>
	</script>
	<div class="tree-select-selected">
		<i class="fa" ng-class="{'fa-chevron-down': !open, 'fa-chevron-up': open}"></i>
		{{ selectedNode ? selectedNode.name : default }}
	</div>
	<div class="tree-select-options" ng-class="{ 'open': open }">
		<ul>
			<li ng-repeat="data in visibleTree" ng-include="'tree-select-node.html'"></li>
		</ul>
	</div>
</div>